body{
    background: rgb(228,167,43);
background: linear-gradient(180deg, rgba(228,167,43,1) 0%, rgba(144,126,82,1) 53%, rgba(83,69,37,1) 100%);
    color: rgb(210, 219, 227);
    font-family: 'Fuzzy Bubbles', cursive; 
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1{
    font-weight: 700;
}
.saludo{
    margin-top: 50px;
}
