body{
    background: rgb(108,100,139);
    background: linear-gradient(180deg, rgba(108,100,139,1) 0%, rgba(182,161,158,1) 85%, rgba(83,69,37,1) 100%);
    font-family: 'Fuzzy Bubbles', cursive; 
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
    height: 100px;
    font-size: 24px;      
}
.navbar-brand{
    font-size: 24px;
    color: blanchedalmond;
}
.logo{
    height: 70px;
}
.nav-item:hover{
    text-shadow: 3px 3px 7px rgba(251,161,0,0.82);
}

h1{
    font-weight: 700;
    text-shadow: 3px 3px 7px rgba(251,161,0,0.82);
}
.saludo{
   
    text-align: center;
}
.redes{
    height: 40px;
    margin: 10px;
}
.instagram{
    height: 60px;
}

.foto-perfil{
    width: 300px;    
    height: 300px;   
   
    margin-left: 170px;
}
.presentacion{
    margin-top: 150px;
    margin-bottom: 50px;
}
.presentacion-texto{
    text-align: justify;
}
.card-group{
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    
}
.hobbies{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #fba100;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
.card{
    margin: 20px 50px 250px 50px;
    color: antiquewhite;
    border-radius: 40px;
    
}
.card-img-top{
    width: 200px;    
    height: 200px;    
    margin-top: 20px;
    margin-left: 30%;
}


